/* STYLE SECTIONING TAGS */
* { 
  margin: 0px;
  padding: 0px;
  font-family:courier;
}

/* STYLE TEXT */

p {
  font-size: 16px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

h1 {
  font-weight:normal;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

/* STYLE IMAGES */
.bkgrd {
  background: #f6eee1;
  background-size: 40%;
}
/* STYLE NAV BAR */
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444;
}

.topnav li {
  float: left;
}

.topnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.topnav li a:hover {
  background-color: #222;
}

.fix {
  margin-top: 5%;
  max-width:50%;
  bottom:0px;
  transform:translate(50%, 30%);
}
